---
layout: default
---

{% include site-header.html %}

<main class="world--map main">
	
	<img src="/assets/images/map.png" usemap="#image-map">
	<canvas id="map--overlay" width="6460" height="3480"></canvas>
	<map id="image--map" name="image-map">
	    <area alt="Brazylia" title="Brazylia" href="{{ site.baseurl }}/category/Brazylia" coords="2217,2175,2451,2272,2331,2568,2171,2762,2108,2711,2171,2603,2091,2460,1971,2346,1852,2312,1903,2140,2034,2066,2211,2101,2217,2140,2205,2129" shape="poly">
	    <area alt="Peru" title="Peru" href="{{ site.baseurl }}/category/Peru" coords="1794,2163,1709,2243,1777,2409,1874,2477,1874,2334,1817,2255,1868,2209" shape="poly">
	    <area alt="Meksyk" title="Meksyk" href="{{ site.baseurl }}/category/Meksyk" coords="1104,1524,1412,1661,1446,1792,1549,1753,1589,1781,1503,1867,1332,1821,1161,1684" shape="poly">
	</map>


	
</main>



{% include site-footer.html %}

<script>

window.onload = function () {
    var ImageMap = function (map) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 6460;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = document.body.clientWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = document.body.clientWidth;
                return true;
            };
            window.onresize = this.resize;
        },
        imageMap = new ImageMap(document.getElementById('image--map'));
    imageMap.resize();
}

var points = [
	{x: 3432, y: 1100},
	{x: 3204, y: 1120},
	{x: 3112, y: 1170},
	{x: 3154, y: 1297},
	{x: 2300, y: 2572},
	{x: 2139, y: 2618},
	{x: 2104, y: 2610},
	{x: 2146, y: 2796}
]
var c = document.getElementById("map--overlay");
var ctx = c.getContext("2d");
ctx.beginPath();

ctx.lineWidth = 7;
ctx.setLineDash([20]);
ctx.strokeStyle = "#EB5E55";
ctx.beginPath();
ctx.moveTo(points[0].x, points[0].y);
points.slice(1).forEach((point) => {
	ctx.lineTo(point.x, point.y);
});

ctx.stroke();

var radius = 13;
ctx.setLineDash([0]);
ctx.fillStyle = '#F0CA60';
ctx.strokeStyle = "#EB5E55";
ctx.lineWidth = 7;
points.forEach((point) => {
	ctx.moveTo(point.x, point.y);
	ctx.beginPath();
	ctx.arc(point.x, point.y, radius, 0, 2 * Math.PI, false);
	ctx.fill();
	ctx.stroke();
});
</script>