{% if site.data.navigation_header %}
<nav class="nav  nav--header">
  <ul class="nav--top list  list--nav dropdown0">
    {% for item in site.data.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item.title }}</a>
        {% if item.members %}
          <ul class="dropdown1">
            {% for level1 in item.members %}
              <li><a href="{{ url }}">{{ level1.title }}{% if level1.members %} <b>›</b>{% endif %}</a>
              {% if level1.members %}
                <ul class="dropdown2">
                  {% for level2 in level1.members %}
                    <li><a href="{{ url }}">{{ level2.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (window.innerWidth < 800) {
      navList.style.setProperty('display', 'none')
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>
