{% assign src = include.post %}
{% unless src.categories %}
  {% assign src = page %}
{% endunless %}
{% if src.categories %}
  {% capture categories %}
    {% for category in src.categories %}
      <span class="label  label--category"><a href="{{ site.baseurl }}/category/{{ category }}">{{ category }}</a></span>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
  {% endcapture %}
{% elsif src.category %}
  {% capture categories %}
    <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ src.category | downcase }}">{{ src.category }}</a></span>
  {% endcapture %}
{% endif %}

<small class="small  post-meta">
  {% assign date_format = site.date_format | default: "%d %b %Y" %}
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ src.date | date_to_xmlschema }}" class="time">
    {% assign m = src.date | date: "%-m" %}
    {{ src.date | date: "%-d" }}
    {% case m %}
      {% when '1' %}stycznia
      {% when '2' %}lutego
      {% when '3' %}marca
      {% when '4' %}kwietnia
      {% when '5' %}maja
      {% when '6' %}czerwca
      {% when '7' %}lipca
      {% when '8' %}sierpnia
      {% when '9' %}września
      {% when '10' %}października
      {% when '11' %}listopada
      {% when '12' %}grudnia
    {% endcase %}
    {{ src.date | date: "%Y" }}
  </time>
</small>
