{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_image and page.layout == 'post' %}
  <div class="feature" style="background-image: url({{ feature_image | prepend: site.url }})">
    <div class="container  typeset">
    	<div class="title--box">
		    <h1>{{ page.title }}</h1>
	      {{ feature_text | markdownify }}
	      {% include post-meta.html %}
	    </div>
    </div>
  </div>
{% elsif page.layout == 'blog' %}
	{% include site-carousel.html %}
{% endif %}