{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_image and page.layout == 'post' %}
  <div class="feature" style="background-image: url({{ feature_image | prepend: site.url }})">
    <div class="container  typeset">
		    <h1>{{ page.title }}</h1><br>
	      <!-- {{ feature_text | markdownify }} -->
	      {% include post-meta.html %}
    </div>
  </div>
{% elsif feature_image and page.layout == 'category' %}
<div class="feature" style="background-image: url({{ feature_image | prepend: site.url }})">
    <div class="container  typeset">
        <h1 class="category">{{ page.tag }}</h1>
    </div>
</div>
{% elsif feature_image and page.layout == 'page' %}
<div class="feature" style="background-image: url({{ feature_image | prepend: site.url }})">
    <div class="container  typeset">
        <h1 class="category">{{ page.feature_header }}</h1>
    </div>
</div>
{% elsif page.layout == 'blog' %}
	{% include site-carousel.html %}
{% endif %}