---
title: false
styles: true
---

@import "alembic";
@import "carousel";

#logo-title {
	margin-right: auto;
	span {
		color: $paletteLink;
		&:hover, &:active, &:focus {
			color: $paletteLink;
			text-decoration: none;
		}
	}
}

article, .nav--paginator {
	padding: 0.5rem 0.5rem;
	@include breakpoint(break-1) {
		padding: 0.5rem 1.5rem;
	}
	margin-bottom: 0.5rem;
	background-color: $paletteBackground;
}

header {
	margin-bottom: 1rem;
	background-color: $paletteBackground;
	color: $paletteTile;
	.container svg {
		fill: $paletteTile;
	}
}

.article.article--post {
	$overlap: 3rem;

	margin-bottom: 1.5rem;
	text-align: center;
    position: relative;
    margin: auto;
    margin-top: 0;
	margin-bottom: 3rem;
    width: 97%;
    max-width: 45em;
    border: none;
    @include breakpoint(break-1) {
	    border: 1px solid $paletteTile;
	    width: 85%;
	    margin-top: -$overlap;
    }

	.postlist--cover {
		position: absolute;
		width: 100%;
		height: $overlap + 1.5rem;
		top: 0;
		left: 0;
		outline: 2px solid #fff;
		border: 2px solid #fff;
		z-index: 0;
	}

	.small {
		padding-top: 0;
		z-index: 100;
		position: relative;

	}

	p {
		margin-bottom: 2.3rem;
		text-align: justify;
		text-justify: inter-word;
		margin-top: 1.5rem;
		position: relative;
		z-index: 100;
		&:after {
		  	$dashWidth: 5rem;
		  	content: '\A—';
		  	color: $paletteAccent;
		    position: absolute;
		    font-size: 250%;
		    text-align: center;
		    width: $dashWidth;
		    left: 50%;
		    top: -1.4rem;
		    margin-left: -$dashWidth/2;
		}
	}

	// &.post--tile p {
	// 	text-align: center;
	// 	// border: 1px solid red;
	// }

	&.list {
		border: 1px solid $paletteTile;
	    width: 85%;
	    margin-top: -$overlap;
	    strong {
	    	font-weight: normal;
	    }
	    a {
	    	color: inherit;
	    }
	}

	&.content p {
		margin-top: 0;
		font-weight: normal;
		&:after {
			content: none;
		}
	}

	h2 {
		z-index: 100;
		position: relative;
	}

	a.button.more {
		$height: 2.4rem;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		// outline: 1.5rem solid white;
		box-shadow: -1.3rem 0px 0px 0px $paletteBackground, 1.3rem 0px 0px 0px $paletteBackground;
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		line-height: 0;
		font-size: small;
		background-color: white;
		color: $paletteAccent;
		border: 1px solid $paletteAccent;
		bottom: -$height/2 - 0.5rem;
		padding: $height/2 0.6rem;
		z-index: 50;
		&:hover {
			background-color: $paletteAccent;
			color: $paletteBackground;

		}


	}
}

.item--post {
	line-height: 0;
}

.logo {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.about--description {
  min-width: 200px;
  // padding-bottom: 1rem;
  padding-top: 5.3rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
  // margin-bottom: 0 !important;
  @include flex(0 1 auto);
  &:after {
  	$dashWidth: 5rem;
  	content: '\A—';
  	color: $paletteAccent;
    position: absolute;
    font-size: 250%;
    text-align: center;
    width: $dashWidth;
    left: 50%;
    bottom: 3.2rem;
    margin-left: -$dashWidth/2;

  }
}

///////  CAROUSEL /////////

.carousel__photo {
	height: 33vh;
	@include breakpoint(break-2) {
		height: 33vw;
	}
}

.carousel img {
	height: auto;
}

.carousel-wrapper {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	z-index: 100;
	@include breakpoint(break-1) {
		width: 100%;
		margin: 0;
		left: 0;
		right: 0;
	}
}


.header {
	// .nav a {
	// 	color: $paletteLink;
	// 	&:hover {
	// 		// color: LightGray;
	// 	}
	// }
	& > .container {
		height: 4.5em;
		width: 97%;
		position: relative;
	}
}

$navWidth: 6.5em;

@include breakpoint(break-2) {
	.header .container {
		padding: 0;
		position: relative;
	}

	.header .nav {
		right: 0px;
		height: 100%;
		width: 100%;
	}

	.logo img {
		max-height: 3rem;
	}

	ul.nav--top.list.list--nav {
	    height: 100%;
	    width: 100%;
	}

	.header li.item.item--nav {
	    align-items: center;
	    height: 100%;
	    display: inline-flex;
	    margin-left: 1.5em;
		// width: $navWidth;
	    &:hover > a:not(.expand) {
	    	// height: 2.4em;
	    	border-bottom: 4px solid $paletteAccent;
	    	border-top: 4px solid rgba(0, 0, 0, 0);
	    }
	    a {
	    	margin: auto;
	    }
	}
}


////////  DROPDOWN //////////

* {
	$width: 13rem;
	.dropdown1, .dropdown2 {
		// display: none;
		top: 98%;
		z-index: 1000;
		background-color: $paletteBackground;
		width: $width;
		margin-left: -$width/2;
		text-align: center;
		a {
			color: $paletteTile;
			display: block;
		}
		// li {
		// 	border-left: 3px solid rgba(0, 0, 0, 0);
		// }
	}

	.dropdown0 {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    overflow: visible;
	}

	.dropdown0 > li {
	    position: relative;
	    a.expand {
	    	padding-right: 0.5rem;
	    }
	    & > a + b {
	    	transform: rotate(90deg);
	    	display: inline-block;
	    }
	}

	.dropdown1 {
	    position: absolute;
	    margin: 0;
        left: 50%;
	    margin-left: -$width/2;
	    width: $width;
	    list-style: none;
	    padding: 0;
	    border-top: 3px solid $paletteTile;
	    display: none;
	}

	.dropdown1:after {
		content: '▲';
		position: absolute;
		color: $paletteTile;
		width: 26px;
	    left: 50%;
	    margin-left: -13px;
	    transform: scale(2, 1);
	    top: -1.4em;
	}

	
	.dropdown1 > li {
	    position: relative;
	    // height: 30px;
	}

	.dropdown1 > li:hover, .dropdown2 > li:hover {
		background: $paletteTile;
		// border-left: 3px solid $paletteAccent;
		& > a {
			color: $paletteBackground;
		}
	}

	.dropdown2 {
	    position: absolute;
	    top: 0;
	    right: -$width;
	    width: $width;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    display: none;
	}

	.dropdown2 > li {
	    // height: 30px;
	}

	.dropdown0 a /* Apply to all links inside the multi-level menu */
	{
	    /* Make the link cover the entire list item-container */
	    display: block;
	    line-height: 30px;
	}

	.dropdown0 li:hover > ul
	{
	    /* On hover, display the next level's menu */
	    display: inline;
	}

	.nav--header label,
	.nav--header input {
		display: none;
	}
}


////////  DROPDOWN MOBILE //////////

@include breakpoint(0, 800) {
	$width: 10em;

	nav.nav--header {
		position: absolute;
		width: 100%;
		text-align: left;
	}

	.button--nav {
		display: block;
		right:1.5em;
	}

	ul.nav--top {
		position: absolute;
		top: 5.5rem;
		width: 100%;
		@include breakpoint(break-1) {
			width: 60%;
		}
		text-align: left;
		border-top: 3px solid $paletteTile;
		padding: 0.3rem;
		background-color: $paletteBackground;
		z-index: 200;
	}

	ul.nav--top:after {
		content: '▲';
		position: absolute;
		color: $paletteTile;
		width: 26px;
	    right: 1.8rem;
	    transform: scale(2, 1);
	    top: -1.4em;
	}

	label.button + input {
		display: block;
	}

	.dropdown0 {
		box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
		.dropdown1, .dropdown2 {
		    position: relative;
		    margin: 0;
	        left: 0;
		    width: $width;
		    list-style: none;
		    padding: 0;
		    border-top: none;
		    // display: none;
		}

		a {
			padding: 0;
			line-height: 33px;
			display: initial;
		}

		li:hover, li:hover {
			background: $paletteBackground;
			// border-left: 3px solid $paletteAccent;
			& > a, & > label {
				color: $paletteTile;
			}
		}

		li {
			display: block !important;
			height: auto !important;
			width: 100%;
			text-align: left;
			a, label {
				cursor: pointer;
				padding: 0.2rem;
				padding-left: 1rem;
			}
			label > a {
				padding: 0;
			}

			& > a {
				display: block;
			}
		}

		.dropdown1 > li {
			a, label {
				padding-left: 3rem;
				padding-right: 2rem;
			}

			label > a {
				padding: 0;
			}
		}

		.dropdown2 > li {
			a, label {
				padding-left: 5rem;
			}

			label > a {
				padding: 0;
			}
		}

		ul {
			width: 100% !important;
		}

		.dropdown1:after {
			content: none;
		}

		a.expand,
		ul {
			display: none;
		}

		li:hover > ul
		{
		    display: none;
		}

		label {
			display: block;
			margin-bottom: 0;
			padding-top: 0;
			line-height: 30px;
			b:after {
				content: "›";
				float: right;
				margin-right: 1rem;
				font-size: 150%;
				transform: rotate(90deg);
				transition-duration: 0.15s;
			}
		}

		a, label > a {
			font-size: 120%;
		}


		[id^=drop]:checked + label + ul {
			display: block;
		}

		[id^=drop]:checked + label b:after {
			// transform-origin: center 40%;
			transform: rotate(90deg) scaleX(-1);
			transition-duration: 0.15s;
		}

		.backdrop {
			position: fixed;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;

		}
	}
	// label.button + input:checked + ul {
	// 	display: block;
	// }

}


/////////  CATEGORY VIEW ////////////

.post--list .grid--wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 3rem;
	@include breakpoint(0, 550) {
		grid-template-columns: 1fr;
		max-width: 375px;
		margin: auto;
	}
	// grid-auto-rows: 65em;
	margin-bottom: 4rem;
}

.category .article.article--post {

	.postlist--cover {
		height: 1.3rem;
	}

	.tile--content {
		height: 100%;
		overflow: hidden;
		&:before {
			content: "";
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 4em;
			z-index: 45;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
		}

		@include breakpoint(break-3) {
			font-size: 90%;
			line-height: 0;
			h2 {
				font-size: 175%;
				line-height: 2rem;
			}
		}
	}

	&.post--tile {
		width: 95%;
		margin-top: 0;
		margin-bottom: 2rem;
		text-align: center;
	    position: relative;
	    margin: auto;
	    border: 1px solid #398981;
	    height: 20em;
	    padding: 0.5rem;
	    p {
	    	text-align: center;
	    	line-height: 1.3em;
	    	z-index: 40;
	    	strong {
	    		font-weight: 100;
	    	}
	    }
	}
}

.preview--image {
	width: 95%;
	display: block;
	margin: auto;
}

.category {
	article {
		padding: 0.3rem 0.3rem;
	}
}


/////////////   ABOUT US    ////////////

.article--about {
	@include breakpoint(0, 800) {
		padding-left: 3.8rem;
		padding-right: 3.8rem;
	}

	@include breakpoint(0, 640) {
		padding-left: 3.8rem;
		padding-right: 3.8rem;
	}
}

.about {
	$height: 15em;
	$gap: 4em;
	width: 100%;
	position: relative;
	& > div {
		position: relative;
		height: $height;
		border: 1px solid $paletteTile;
		width: 100%;
		margin-bottom: 3rem;
		display: table;
		padding: 0 2.5em;
		p {
			height: 100%;
			display: table-cell;
		    vertical-align: middle;
		}
		img {
			height: $height - $gap;
			border-radius: 50%;
			top: 50%;
			margin-top: (-$height + $gap)/2;
			position: absolute;
			box-shadow: 0px -0.75rem 0px 0px $paletteBackground, 0px 0.75rem 0px 0px $paletteBackground;
		}

		&.both img {
			box-shadow: -0.75rem 0px 0px 0px $paletteBackground, 0.75rem 0px 0px 0px $paletteBackground;

		}
	}

	.maciej {
		padding-right: $height/2;
		img {
			right: 0;
			margin-right: (-$height + $gap)/2;
		}
	}

	.wera {
		padding-left: $height/2;
		img {
			left: 0;
			margin-left: (-$height + $gap)/2;
		}
		nav {
			position: relative;
		}
	}
	.both {
		margin-top: 3rem;
		padding-top: $height/2 - $gap/2;
		padding-bottom: 2rem;
		// height: $height + $gap;
		p {
			vertical-align: top;
		}
		img {
			top: 0;
			margin-top: (-$height + $gap)/2;
			left: 50%;
			margin-left: (-$height + $gap)/2;
		}
	}
}


///////   PAGINATOR //////////
.nav--paginator > a {
	border: 1px solid $paletteTile;
	padding: 0.35rem 0.5rem !important;
	&:hover {
		background-color: $paletteTile;
		color: $paletteBackground
	}
}


/////////  SEARCH  ////////////////
.search {
	@include breakpoint(break-2) {
		margin-top: -11.5vw;
	}
	padding-top: 1rem;
	input {
		margin-bottom: 1rem;
	}
}


/////////////////    MAP  //////////

main.map {
	margin-top: -1rem;
	flex-direction: column;
	justify-content: flex-start;
}