---
title: false
styles: true
---

@import "alembic";
@import "carousel";

#logo-title {
	margin-right: auto;
	span {
		color: black;
		&:hover, &:active, &:focus {
			color: black;
			text-decoration: none;
		}
	}
}

article, .nav--paginator {
	padding: 1rem;
	margin-bottom: 0.5rem;
	background-color: $paletteTile;
}

.article.article--post {
	margin-bottom: 1rem;
}
.item--post {
	line-height: 0;
}

.logo {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.title--box {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 1rem;
	width: 100%;
	*, h1 {
		color: $bodyColour;	
	}
}

.about--description {
  min-width: 200px;
  padding: 0 1rem;
  // margin-bottom: 0 !important;
  @include flex(0 1 auto);
}


@include breakpoint(break-1) {
	.header .container {
		padding: 0;
		position: relative;
	}

	.header .nav {
		right: 0px;
		height: 100%;
		position: absolute;
		width: 100%;
	}

	.logo img {
		max-height: 3rem;
	}

	ul.nav--top.list.list--nav {
	    height: 100%;
	    width: 100%;
	}

	.header li.item.item--nav {
	    align-items: center;
	    height: 100%;
	    display: inline-flex;
	    &.item--current, &:hover {
	    	background: $paletteFocus;
	    	& a {
	    		color: $backgroundColour;
	    	}
	    }
	}

	.header li.item.item--nav {
		margin: 0;
		padding: 0 0.4rem;
	}
}

