---
aside: true
layout: default
---

{% include site-header.html %}

<main class="main  container post">

  <article class="article  article--post  content  typeset">
  	<div class="postlist--cover"></div>

    {{ content }}


  </article>

	<div class="PageNavigation">
	  {% if page.previous.url %}
	    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
	  {% endif %}
	  {% if page.next.url %}
	    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
	  {% endif %}
	</div>
  
  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
  {% include post-comments.html %}

  {% include site-top-button.html %}

</main>

{% include site-footer.html %}
