---
aside: true
layout: default
---

{% include site-header.html %}

<main class="main  container post">

  <article class="article  article--post  content  typeset">
  	<div class="postlist--cover"></div>

    {{ content }}

  	{% include post-gallery.html images="https://placekitten.com/g/600/900, https://placekitten.com/900/600, https://placekitten.com/900/900" %}
  </article>

	<nav class="nav--paginator">
	  {% if page.previous.url %}
	    <a class="pagination  pagination--previous" href="{{page.previous.url}}">Poprzedni post:<br>&larr; {{page.previous.title}}</a>
      {% else %}
	    <span class="pagination  pagination--previous"></span>
	  {% endif %}
	  {% if page.next.url %}
	    <a class="pagination--next" href="{{page.next.url}}">Następny post:<br>{{page.next.title}} &rarr;</a>
      {% else %}
	    <span class="pagination  pagination--next"></span>
	  {% endif %}
	</nav>
  
  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
  {% include post-comments.html %}

  {% include site-top-button.html %}

</main>

{% include site-footer.html %}
